<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <unicorn>
            <configurations>
                <configuration name="CodeHat.Feature.PageContent" description="Feature Page Content">
                    <targetDataStore
                      physicalRootPath="C:\hackaton\2023-CodeHat\src\Feature\PageContent\serialization"
                      useDataCache="false"
                      type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                      singleInstance="true"/>

                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        
                        <include name="Templates" database="master" path="/sitecore/templates/Feature/CodeHat" />

                        <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/CodeHat/Page Content" />
                        
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>