<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Site" description="CodeHat.Project.Site project items" dependencies="Foundation.*,Feature.*" extends="Helix.Base">
                    <predicate>

                      <!-- Templates -->

                      <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/Project/HylandV2">
                      </include>

                      <!-- Renderings -->

                      <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/Renderings/Project/HylandV2">
                      </include>

                      

                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>