<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <unicorn>
            <configurations>
                <configuration name="CodeHat.Site" description="CodeHat Headless SXA Site" dependencies="CodeHat.Foundation.*,CodeHat.Feature.*">
                    <targetDataStore
                      physicalRootPath="C:\hackaton\2023-CodeHat\src\Project\CodeHat\serialization"
                      useDataCache="false"
                      type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                      singleInstance="true"/>

                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Content" database="master" path="/sitecore/content/CodeHat" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>