@using CodeHat.Feature.PageContent.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc

@ImageCropModel


<section>
    <div class="upload-demo">
        <div class="container">


            <div class="actions">
                <a class="btn file-btn">
                    <span>Upload</span>
                    <input type="file" id="upload" value="Choose a file" accept="image/*" />
                </a>
                <button class="upload-result">Result</button>
            </div>


            <div class="upload-msg">

                Upload a file to start cropping
            </div>
            <div class="upload-demo-wrap">
                <div id="upload-demo"></div>
            </div>
        </div>
    </div>



</section>
