<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="CodeHat.Feature.GeneralContent.Sxa.Pipelines.RegisterWebApiRoutes, CodeHat.Feature.GeneralContent.Sxa" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"></processor>
            </initialize>
        </pipelines>
        <unicorn>
            <configurations>
                <configuration
                            name="SXA.Site"
                            description="SXA.Site">
                    <targetDataStore
                      physicalRootPath="C:\Projects\2023-CodeHat\src\Foundation\Serialization\serialization"
                      useDataCache="false"
                      type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                      singleInstance="true"
          />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Content" database="master" path="/sitecore/content/CodeHat" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
